

nav{
  
    
        a{
            color: $main !important;
            font-size: large;
          
            &:active , .active{
            border-bottom: 1px solid $first_color;
            color:$first_color 
        
           }
  
        }
        .n{
                color: $first-color;
        }
 
    
          .dropdown{
            
                h6{
                        color:$first_color !important
                }
                        color: $main !important;
                        font-size: large;
                      
                        a:active  , a:hover{
                                border-bottom: 1px solid $first_color;
                              
                 
                       }

                       
          
        
       
      
        }
     
    
    

 




    
}
